<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a07ca67f91.js" crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="global.css">


</head>

<body>

    <main class="main-box">

        <div class="main-app-name">
            <p class="main-name"> R <p class="main-name-rotate">a</p>
                <p class="main-name">ge Musi</p>
            </p>
            <p class="main-name"> c</p>
        </div>
        <div>

            <div class="nav-navbar">
                <div class="nav-ham">
                    <i class="fa-solid fa-align-left"></i>
                </div>

                <input type="text" name="search" placeholder="&#xF002;  Search" id=""
                    class="nav-input-search nav-input-search-icon">
            </div>


        </div>



        <section class="main-scroll">
            <div class="trending">
                <span>trending right now</span>
            </div>

            <div class="main-list-trending">
                <!-- <div class="trending-item"><img src="https://images.pexels.com/photos/1762578/pexels-photo-1762578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></div> -->
                <div class="trending-box">
                    <div class="trending-item">
                        <!-- <span class="trending-item-label">Lorem, ipsum </span> -->
                        <img
                            src="https://images.pexels.com/photos/1762578/pexels-photo-1762578.jpeg?auto=compress&cs=tinysrgb&w=480&h=640&dpr=1">
                    </div>
                    <div class="trending-item">
                        <!-- <span class="trending-item-label">Lorem, ipsum </span> -->
                        <img
                            src="https://images.pexels.com/photos/3971985/pexels-photo-3971985.jpeg?auto=compress&cs=tinysrgb&w=480&h=640&dpr=1">
                    </div>
                    <div class="trending-item">
                        <!-- <span class="trending-item-label">Lorem, ipsum </span> -->
                        <img
                            src="https://images.pexels.com/photos/1230397/pexels-photo-1230397.jpeg?auto=compress&cs=tinysrgb&w=480&h=640&dpr=1">
                    </div>
                </div>
            </div>

        </section>





        <section class="main-category">
            <div class="category-list">
                <div class="category-box">
                    <div class="category-item">rock</div>
                    <div class="category-item">hip hop</div>
                    <div class="category-item">pop</div>
                    <div class="category-item">jazz</div>
                    <div class="category-item">classical</div>
                    <div class="category-item">popular</div>
                    <div class="category-item">90s</div>
                </div>
            </div>
        </section>

        <section class="main-music">
            <div class="music-list">
                <div class="music-box">
                    <div class="music-item">
                        <img src="https://i.ytimg.com/vi/XXYlFuWEuKI/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDIlTuhofSIcoIZholmBzuQ19xG5g"
                            alt="">

                        <div class="music-details">
                            <span class="music-title"><span>Save your tears </span> </span>
                            <span class="music-details-artist"><i class="fa-solid fa-user"></i> The Weeknd </span>
                        </div>
                        <i class="fa-regular fa-heart music-details-heart"></i>

                    </div>                    
                    
                    <div class="music-item">
                        <img src="https://i.ytimg.com/vi/TdrL3QxjyVw/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCJjhM2lOqJQP3aidEih2PgIorBLg"
                            alt="">

                        <div class="music-details">
                            <span class="music-title"><span> Summertime Sadness </span> </span>
                            <span class="music-details-artist"><i class="fa-solid fa-user"></i> Lana Del Rey </span>
                        </div>
                        <i class="fa-regular fa-heart music-details-heart"></i>

                    </div>                    
                    
                    <div class="music-item">
                        <img src="https://i.ytimg.com/vi/JZjAg6fK-BQ/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLCN2UJlmo3CCi4iL-Woq-PVv-tnJQ"
                            alt="">

                        <div class="music-details">
                            <span class="music-title"><span> </span> </span>
                            <span class="music-details-artist"><i class="fa-solid fa-user"></i> John Doe</span>
                        </div>
                        <i class="fa-regular fa-heart music-details-heart"></i>

                    </div>cgi


                    
                </div>


            </div>



        </section>


    </main>
    <main class="footer-navbar">
        <section class="main-footer-navbar">
            <div class="footer-navbar-component">
                <div class="footer-navbar-component-items"><i class="fa-solid fa-house"></i></div>
                <div class="footer-navbar-component-items"><i class="fa-solid fa-magnifying-glass "></i></div>
                <div class="footer-navbar-component-items"><i class="fa-solid fa-bars-staggered"></i></div>
                <div class="footer-navbar-component-items"><i class="fa-solid fa-user"></i></div>
            </div>
        </section>
    </main>


    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var xDown = null;
            var scrollLeft = 0;

            $(".main-list-trending").on("mousedown touchstart", function (event) {
                xDown = event.originalEvent.touches ? event.originalEvent.touches[0].clientX : event
                    .clientX;
                scrollLeft = $(this).scrollLeft();
            });

            $(".main-list-trending").on("mousemove touchmove", function (event) {
                if (!xDown) {
                    return;
                }

                var xUp = event.originalEvent.touches ? event.originalEvent.touches[0].clientX : event
                    .clientX;
                var xDiff = xDown - xUp;

                $(this).scrollLeft(scrollLeft + xDiff);
            });

            $(".main-list-trending").on("mouseup touchend", function () {
                xDown = null;
            });
        });
    </script> -->


    <script>


        if (window.innerWidth <= 600) {
            const musicTitle = document.querySelector('.music-title');
            if (musicTitle.textContent.length > 20) {
                musicTitle.classList.add('animated-text');
            }
        }
    </script>


</body>

</html>