<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/recent.css">
    <title>Document</title>
</head>

<body>
    <div class="recent-box">

        <!-- <div class="recent-navbar">
            <div class="recent-navbar-list">
                <div class="recent-navbar-box">
                    <div class="recent-navbar-items">
                        <ion-icon name="chevron-back"></ion-icon>
                    </div>

                </div>
            </div>
        </div> -->

        <div class="recent-trending">
            Recent favourites
        </div>


        <div class="recent-fav-cards">
            <div class="fav-cards-item">
                <div class="content">
                    <div class="image">
                        <img src="https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=300"
                            alt="">
                    </div>
                    <span class="fav-title">Lorem, ipsum</span>
                    <br>
                    <span class="fav-artist">Lorem, ipsum<span>

                </div>

                <div class="content">
                    <div class="image">
                        <img src="https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=300"
                            alt="">
                    </div>
                    <span class="fav-title">Lorem, ipsum</span>
                    <br>
                    <span class="fav-artist">Lorem, ipsum<span>

                </div>

                <div class="content">
                    <div class="image">
                        <img src="https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=300"
                            alt="">
                    </div>
                    <span class="fav-title">Lorem, ipsum</span>
                    <br>
                    <span class="fav-artist">Lorem, ipsum<span>

                </div>                <div class="content">
                    <div class="image">
                        <img src="https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=300"
                            alt="">
                    </div>
                    <span class="fav-title">Lorem, ipsum</span>
                    <br>
                    <span class="fav-artist">Lorem, ipsum<span>

                </div>                <div class="content">
                    <div class="image">
                        <img src="https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=300"
                            alt="">
                    </div>
                    <span class="fav-title">Lorem, ipsum</span>
                    <br>
                    <span class="fav-artist">Lorem, ipsum<span>

                </div>                <div class="content">
                    <div class="image">
                        <img src="https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=300"
                            alt="">
                    </div>
                    <span class="fav-title">Lorem, ipsum</span>
                    <br>
                    <span class="fav-artist">Lorem, ipsum<span>

                </div>

                

            </div>
        </div>

    </div>

    <script src="./js/global.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>